.crm-plugin-wrapper {
    background: #FFFAFA;
    border-radius: 6px;
    overflow: hidden;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.crm-panel-heading {
    padding: 0 !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}
.crm-container {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: space-between;
}
.crm-tools-container {
    width: 100%;
    max-width: 250px;
    border: 1px solid #eee;
    border-radius: 6px;
}
.crm-table-container {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 6px;
}
.crmt-heading {
    padding: 16px 15px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.crmt-heading.crmt-for-tbl {
    padding: 6px 15px;
}
.crmt-title {
    font-size: 15px;
    color: #352f36;
    margin: 0;
    font-weight: 500;
}
.crm-tbl-content,
.crm-tools-content{
    padding: 15px;
}
.crm-tools-container .crm-tools-content {
    padding: 15px 10px;
}
.crm-form-control {
    padding: 6px 30px 6px 10px !important;
    border-radius: 6px !important;
}
.crm-status-badge {
    display: flex;
    gap: 5px;
    align-items: stretch;
    justify-content: center;
}
.cbadge {
    background: #eee;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 2px;
    padding-right: 9px;
    cursor: help;
}
.cbadge .dashicons {
    font-size: 18px;
    margin: 0 !important;
    width: auto;
    height: auto;
}
.crm-success{
    background: #128802;
    color: #fff;
}
.crm-danger{
    background: #a5a5a5;
    color: #fff;
}
/* Table CSS */
.crm-table {
    width: 100%;
    border-collapse: collapse;
}
.crm-table th, .crm-table td {
    border: 1px solid #eee; /* Border color */
    padding: 5px;
    text-align: left;
}
.crm-table th {
    background-color: #f7f7f7; /* Light grey for header */
    font-weight: bold;
}
.crm-table tr:nth-child(odd) {
    background-color: #fafafa; /* Light color for odd rows */
}
.crm-table tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
}
.crm-table .price-field {
    text-align: right; /* Align price column to the right */
}
.crm-tbl-content {
    height: 35rem;
    overflow-y: auto;
}
.crm-table .dashicons {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.price-field .dashicons {
    color: green; /* Customize icon color */
}
/* Panels for Tools */
.crm-warning {
    background: #ffe6c1;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.crm-tab-container {
    border: 1px solid #eee;
    padding: 5px;
    margin-top: 50px;
    position: relative;
}
.crm-tab-selection {
    position: absolute;
    top: -38px;
    left: 0;
}
.crm-tab-selection select {
    border: 1px solid #eee !important;
    border-radius: 0 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    padding: 5px 10px !important;
    padding-right: 30px !important;
    font-size: 13px !important;
}
input[type=file]#customer_record_files {
    border: 1px solid #eee;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background: #eee;
}
.crm-form-group p.submit {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}
.crm-form-group p.submit {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 0;
}
.crm-form-group label {
    font-weight: 600 !important;
    font-size: 12px !important;
}
.crm-form-group small {
    font-size: 12px;
    font-style: italic;
    color: #cc5a00;
}